  <!-- Wrapper -->
  <div id="wrapper" class="wrapper-with-transparent-header">
    
  
    
    
    
 
    
        <!-- Content
        ================================================== -->
        
        <!-- Popular Job Categories -->
        <div class="section margin-top-65 margin-bottom-30">
            <div class="container">
                <div class="row">
        
                    <!-- Section Headline -->
                    <div class="col-xl-12">
                        <div class="section-headline centered margin-top-0 margin-bottom-45">
                            <h3>Popular Servies</h3>
                        </div>
                    </div>
        
                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-1.html" class="photo-box small" data-background-image="assets/images/cardio2.png">
                            <div class="photo-box-content">
                                <h3>Cardiology</h3>
                                <span>52</span>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-full-page-map.html" class="photo-box small" data-background-image="assets/images/job-category-02.jpg">
                            <div class="photo-box-content">
                                <h3>Ophthalmology</h3>
                                <span>113</span>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-grid-layout-full-page.html" class="photo-box small" data-background-image="assets/images/job-category-03.jpg">
                            <div class="photo-box-content">
                                <h3>Physiotherapy</h3>
                                <span>186</span>
                            </div>
                        </a>
                    </div>
        
                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-2.html" class="photo-box small" data-background-image="assets/images/job-category-04.jpg">
                            <div class="photo-box-content">
                                <h3>Anaestheticss</h3>
                                <span>298</span>
                            </div>
                        </a>
                    </div>
        
                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-1.html" class="photo-box small" data-background-image="assets/images/job-category-05.jpg">
                            <div class="photo-box-content">
                                <h3>Gastroenterology</h3>
                                <span>549</span>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-full-page-map.html" class="photo-box small" data-background-image="assets/images/job-category-06.jpg">
                            <div class="photo-box-content">
                                <h3>Graphics & Design</h3>
                                <span>873</span>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-grid-layout-full-page.html" class="photo-box small" data-background-image="assets/images/job-category-07.jpg">
                            <div class="photo-box-content">
                                <h3>Digital Marketing</h3>
                                <span>125</span>
                            </div>
                        </a>
                    </div>
        
                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-2.html" class="photo-box small" data-background-image="assets/images/job-category-08.jpg">
                            <div class="photo-box-content">
                                <h3>Education & Training</h3>
                                <span>445</span>
                            </div>
                        </a>
                    </div>
        
                </div>
            </div>
        </div>
        <!-- Features Cities / End -->
</div>
