
    <!-- Wrapper -->
    <div id="wrapper" class="wrapper-with-transparent-header">
    
    <!-- Header Container
    ================================================== -->
    <header id="header-container" class="fullwidth transparent-header">
    
        <!-- Header -->
        <div id="header">
            <div class="container">
                
                <!-- Left Side Content -->
                <div class="left-side">
                    
                    <!-- Logo -->
                    <div id="logo">
                        <a routerLink="/"><img src="assets/images/logo2.png" data-sticky-logo="assets/images/logo2.png" data-transparent-logo="assets/images/logo2.png" alt=""></a>
                    </div>
    
                    
                </div>
                <!-- Left Side Content / End -->
    
    
                <!-- Right Side Content / End -->
                <div class="right-side">
                    
                    <!-- Main Navigation -->
                    <nav id="navigation">
                            <ul id="responsive">
        
                                <li><a routerLink="/">Home</a></li>
                                <li><a routerLink="/appointments">Appointments</a></li>
                                <li><a routerLink="/internships">Clinics</a></li>
                                <li><a routerLink="/Hospital">Hospitals</a></li>
                                <li><a routerLink="/doctors">Doctors</a></li>
                                <li><a routerLink="/blog">Blog</a></li>
                                <li><a routerLink="/about">About Us</a></li>
                                <li><a routerLink="/contact">Contact</a></li>
                                <li><a routerLink="/login">Login/Register</a></li>
                   
        
                            </ul>
                    </nav>
                    <!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>
                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->
                </div>
                <!-- Right Side Content / End -->
    
            </div>
        </div>
        <!-- Header / End -->
    
    </header>
    </div>
    <div class="clearfix"></div>
    <!-- Header Container / End -->
    
    