     <!-- Wrapper -->
     <div id="wrapper" class="wrapper-with-transparent-header">
          <!-- Counters -->
    <div class="section padding-top-70 padding-bottom-75">
            <div class="container">
                <div class="row">
        
                    <div class="col-xl-12">
                        <div class="counters-container">
                            
                            <!-- Counter -->
                            <div class="single-counter">
                                <i class="icon-line-awesome-suitcase"></i>
                                <div class="counter-inner">
                                    <h3><span class="counter">1,586</span></h3>
                                    <span class="counter-title">Jobs Posted</span>
                                </div>
                            </div>
        
                            <!-- Counter -->
                            <div class="single-counter">
                                <i class="icon-line-awesome-legal"></i>
                                <div class="counter-inner">
                                    <h3><span class="counter">3,543</span></h3>
                                    <span class="counter-title">Tasks Posted</span>
                                </div>
                            </div>
        
                            <!-- Counter -->
                            <div class="single-counter">
                                <i class="icon-line-awesome-user"></i>
                                <div class="counter-inner">
                                    <h3><span class="counter">2,413</span></h3>
                                    <span class="counter-title">Active Members</span>
                                </div>
                            </div>
        
                            <!-- Counter -->
                            <div class="single-counter">
                                <i class="icon-line-awesome-trophy"></i>
                                <div class="counter-inner">
                                    <h3><span class="counter">99</span>%</h3>
                                    <span class="counter-title">Satisfaction Rate</span>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Counters / End -->
    </div>