    <!-- Wrapper -->
    <div id="wrapper" class="wrapper-with-transparent-header">
    
  
    
    
    
 
    
            <!-- Content
            ================================================== -->
            
        
            
            <!-- Icon Boxes -->
            <div class="section padding-top-65 padding-bottom-65">
                <div class="container">
                    <div class="row">
            
                        <div class="col-xl-12">
                            <!-- Section Headline -->
                            <div class="section-headline centered margin-top-0 margin-bottom-5">
                                <h3>How It Works?</h3>
                            </div>
                        </div>
                        
                        <div class="col-xl-4 col-md-4">
                            <!-- Icon Box -->
                            <div class="icon-box with-line">
                                <!-- Icon -->
                                <div class="icon-box-circle">
                                    <div class="icon-box-circle-inner">
                                        <i class="icon-line-awesome-lock"></i>
                                        <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                                    </div>
                                </div>
                                <h3>Create an Account</h3>
                                <p>Go to your nearest hospital and create an account for you!</p>
                            </div>
                        </div>
            
                        <div class="col-xl-4 col-md-4">
                            <!-- Icon Box -->
                            <div class="icon-box with-line">
                                <!-- Icon -->
                                <div class="icon-box-circle">
                                    <div class="icon-box-circle-inner">
                                        <i class="icon-line-awesome-legal"></i>
                                        <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                                    </div>
                                </div>
                                <h3>Book an appointment</h3>
                                <p>Book appointment to the clinic at home. No more queues!</p>
                            </div>
                        </div>
            
                        <div class="col-xl-4 col-md-4">
                            <!-- Icon Box -->
                            <div class="icon-box">
                                <!-- Icon -->
                                <div class="icon-box-circle">
                                    <div class="icon-box-circle-inner">
                                        <i class=" icon-line-awesome-trophy"></i>
                                        <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                                    </div>
                                </div>
                                <h3>Save time</h3>
                                <p>Come on time to the appointment and save your precious time!</p>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
            <!-- Icon Boxes / End -->
    </div>