    <!-- Wrapper -->
    <div id="wrapper" class="wrapper-with-transparent-header">
    
  
    
    
    
 
    
            <!-- Content
            ================================================== -->
        
            
            
            <!-- Testimonials -->
            <div class="section gray padding-top-65 padding-bottom-55">
                
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- Section Headline -->
                            <div class="section-headline centered margin-top-0 margin-bottom-5">
                                <h3>Popular Blog Posts</h3>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Categories Carousel -->
                <div class="fullwidth-carousel-container margin-top-20">
                    <div class="testimonial-carousel testimonials">
            
                        <!-- Item -->
                        <div class="fw-carousel-review">
                            <div class="testimonial-box">
                                <div class="testimonial-avatar">
                                    <img src="assets/images/user-avatar-small-02.jpg" alt="">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Sindy Forest</h4>
                                     <span>Freelancer</span>
                                </div>
                                <div class="testimonial">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</div>
                            </div>
                        </div>
            
                        <!-- Item -->
                        <div class="fw-carousel-review">
                            <div class="testimonial-box">
                                <div class="testimonial-avatar">
                                    <img src="assets/images/user-avatar-small-01.jpg" alt="">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Tom Smith</h4>
                                     <span>Freelancer</span>
                                </div>
                                <div class="testimonial">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art.</div>
                            </div>
                        </div>
            
                        <!-- Item -->
                        <div class="fw-carousel-review">
                            <div class="testimonial-box">
                                <div class="testimonial-avatar">
                                    <img src="assets/images/user-avatar-placeholder.png" alt="">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Sebastiano Piccio</h4>
                                     <span>Employer</span>
                                </div>
                                <div class="testimonial">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art.</div>
                            </div>
                        </div>
            
                        <!-- Item -->
                        <div class="fw-carousel-review">
                            <div class="testimonial-box">
                                <div class="testimonial-avatar">
                                    <img src="assets/images/user-avatar-small-03.jpg" alt="">
                                </div>
                                <div class="testimonial-author">
                                    <h4>David Peterson</h4>
                                     <span>Freelancer</span>
                                </div>
                                <div class="testimonial">Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower fully researched growth strategies and interoperable sources.</div>
                            </div>
                        </div>
            
                        <!-- Item -->
                        <div class="fw-carousel-review">
                            <div class="testimonial-box">
                                <div class="testimonial-avatar">
                                    <img src="assets/images/user-avatar-placeholder.png" alt="">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Marcin Kowalski</h4>
                                     <span>Freelancer</span>
                                </div>
                                <div class="testimonial">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</div>
                            </div>
                        </div>
            
                    </div>
                </div>
                <!-- Categories Carousel / End -->
            
            </div>
            <!-- Testimonials / End -->
</div>