    <!-- Wrapper -->
    <div id="wrapper" class="wrapper-with-transparent-header">
    
  
    
    
    
 
    
            <!-- Content
            ================================================== -->
        
            
            
            <!-- Testimonials -->
            <div class="section gray padding-top-65 padding-bottom-55">
                
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- Section Headline -->
                            <div class="section-headline centered margin-top-0 margin-bottom-5">
                                <h3>Popular Blog Posts</h3>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Categories Carousel -->
                <div class="fullwidth-carousel-container margin-top-20">
                    <div class="testimonial-carousel testimonials">
            
                        <!-- Item -->
                        <div class="fw-carousel-review">
                            <div class="testimonial-box">
                                <div class="testimonial-avatar">
                                    <img src="assets/images/user-avatar-small-02.jpg" alt="">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Elizabeth Broadbent</h4>
                                     <span>Endocrinologist</span>
                                </div>
                                <div class="testimonial">Going out to a party or a new restaurant can be stressful when you’re trying to manage diabetes. Here’s how to have fun while still staying on track.</div>
                            </div>
                        </div>
            
                        <!-- Item -->
                        <div class="fw-carousel-review">
                            <div class="testimonial-box">
                                <div class="testimonial-avatar">
                                    <img src="assets/images/user-avatar-small-01.jpg" alt="">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Kerry Weiss</h4>
                                     <span>General Physician</span>
                                </div>
                                <div class="testimonial">While you can get the flu at any time during the year, the fall officially marks the beginning of the flu season, since cases of the flu start to rise in October, peak between December and February, and usually taper off around May.</div>
                            </div>
                        </div>
            
                        <!-- Item -->
                        <div class="fw-carousel-review">
                            <div class="testimonial-box">
                                <div class="testimonial-avatar">
                                    <img src="assets/images/user-avatar-placeholder.png" alt="">
                                </div>
                                <div class="testimonial-author">
                                    <h4> Allison Young</h4>
                                     <span>Psychiatrist</span>
                                </div>
                                <div class="testimonial">A Guide to Working Through the Grief After a Loss by Suicide.</div>
                            </div>
                        </div>
            
                        <!-- Item -->
                        <div class="fw-carousel-review">
                            <div class="testimonial-box">
                                <div class="testimonial-avatar">
                                    <img src="assets/images/user-avatar-small-03.jpg" alt="">
                                </div>
                                <div class="testimonial-author">
                                    <h4>David Peterson</h4>
                                     <span>Nutritionist</span>
                                </div>
                                <div class="testimonial">What’s the Best Weight-Loss Diet?</div>
                            </div>
                        </div>
            
                        <!-- Item -->
                        <div class="fw-carousel-review">
                            <div class="testimonial-box">
                                <div class="testimonial-avatar">
                                    <img src="assets/images/user-avatar-placeholder.png" alt="">
                                </div>
                                <div class="testimonial-author">
                                    <h4>Marcin Kowalski</h4>
                                     <span>Psychiatrist</span>
                                </div>
                                <div class="testimonial">What’s the Best Way to Deal With Your Anger?</div>
                            </div>
                        </div>
            
                    </div>
                </div>
                <!-- Categories Carousel / End -->
            
            </div>
            <!-- Testimonials / End -->
</div>