<table class="table table-hover">
    <thead>
      <th>Hospital Name</th>
      <th>District</th>
      <th>Telephone</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let emp of list">
        <td (click)="onEdit(emp)">{{emp.hospitalId}} - {{emp.hospitalName}}</td>
        <td (click)="onEdit(emp)">{{emp.district}}</td>
        <td (click)="onEdit(emp)">{{emp.mobile}}</td>
        <td><a class="btn text-danger" (click)="onDelete(emp.id)"><i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>