   <!-- Intro Banner
    ================================================== -->
    <div class="intro-banner dark-overlay" data-background-image="assets/images/cover5.png">
    
        <!-- Transparent Header Spacer -->
        <div class="transparent-header-spacer"></div>
    
        <div class="container">
            
            <!-- Intro Headline -->
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-headline">
                        <h3>
                            <strong>Simplify Your Healthcare Data Collection</strong>
                            <br>
                            <span>Huge community of Doctors, Hospitals and Services ready for caring you.</span>
                        </h3>
                    </div>
                </div>
            </div>
            
            <!-- Search Bar -->
            <div class="row">
                <div class="col-md-12">
                    <div class="intro-banner-search-form margin-top-95">
    
                        <!-- Search Field -->
                        <div class="intro-search-field with-autocomplete">
                            <label for="autocomplete-input" class="field-title ripple-effect">Where?</label>
                            <div class="input-with-icon">
                                <input id="autocomplete-input" type="text" placeholder="Colombo">
                                <i class="icon-material-outline-location-on"></i>
                            </div>
                        </div>
    
                        <!-- Search Field -->
                        <div class="intro-search-field">
                            <label for ="intro-keywords" class="field-title ripple-effect">What you need done?</label>
                            <input id="intro-keywords" type="text" placeholder="e.g. find me a best doctor">
                        </div>
    
                       
                        <!-- Button -->
                        <div class="intro-search-button">
                            <button class="button ripple-effect" onclick="window.location.href='freelancers-grid-layout-full-page.html'">Search</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Stats -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="intro-stats margin-top-45 hide-under-992px">
                        <li>
                            <strong class="counter">5</strong>
                            <span>Hospitals</span>
                        </li>
                        <li>
                            <strong class="counter">10</strong>
                            <span>Doctors</span>
                        </li>
                        <li>
                            <strong class="counter">10</strong>
                            <span>Patients</span>
                        </li>
                    </ul>
                </div>
            </div>
    
        </div>
    </div>
    <!-- End Intro Banner-->