<body style="background-image: url('assets/images/cover2.jpg'); background-size: 100% 100%;">
<h3>Create New User</h3>
<form>
    <div class="form-container">
      <label for="inputid">User ID</label>
      <input type="text" class="form-control" id="inputid"  placeholder="Enter UserId">
    </div>
    <div class="form-container">
        <label for="inputname">User Name</label>
        <input type="text" class="form-control" id="inputname"  placeholder="Enter User Name">
      </div>
    <div class="form-container">
      <label for="inputpassword">Password</label>
      <input type="password" class="form-control" id="inputpassword" placeholder="Enter Password">
    </div>
    <input type="submit" value="Create">
  </form>
</body>  