<app-nav2></app-nav2>
<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Browse Hospitals</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Hospitals</a></li>
						<li>Browse Hospitals</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-12">
			<div class="letters-list">
				<a href="#" class="current">A</a>
				<a href="#">B</a>
				<a href="#">C</a>
				<a href="#">D</a>
				<a href="#">E</a>
				<a href="#">F</a>
				<a href="#">G</a>
				<a href="#">H</a>
				<a href="#">I</a>
				<a href="#">J</a>
				<a href="#">K</a>
				<a href="#">L</a>
				<a href="#">M</a>
				<a href="#">N</a>
				<a href="#">O</a>
				<a href="#">P</a>
				<a href="#">Q</a>
				<a href="#">R</a>
				<a href="#">S</a>
				<a href="#">T</a>
				<a href="#">U</a>
				<a href="#">V</a>
				<a href="#">W</a>
				<a href="#">X</a>
				<a href="#">Y</a>
				<a href="#">Z</a>
			</div>
		</div>
		<div class="col-xl-12">
			<div class="hospitals-list">
				<a href="single-hospital-profile.html" class="hospital">
					<div class="hospital-inner-alignment">
						<span class="hospital-logo"><img src="assets/images/hospitals/nhsl.jpg" alt=""></span>
						<h4>National Hospital Sri Lanka</h4>
					</div>
				</a>
				<a href="single-hospital-profile.html" class="hospital">
					<div class="hospital-inner-alignment">
						<span class="hospital-logo"><img src="assets/images/hospitals/gampaha.jpg" alt=""></span>
						<h4>District General Hospital - Gampaha</h4>
					</div>
				</a>
				<a href="single-hospital-profile.html" class="hospital">
					<div class="hospital-inner-alignment">
						<span class="hospital-logo"><img src="assets/images/hospitals/mirigama.jpg" alt=""></span>
						<h4>Base Hospital - Mirigama</h4>
					</div>
				</a>
				<a href="single-hospital-profile.html" class="hospital">
					<div class="hospital-inner-alignment">
						<span class="hospital-logo"><img src="assets/images/hospitals/wathupitiwala.jpg" alt=""></span>
						<h4>Base Hospital - Wathupitiwala</h4>
					</div>
				</a>
				<a href="single-hospital-profile.html" class="hospital">
					<div class="hospital-inner-alignment">
						<span class="hospital-logo"><img src="assets/images/hospitals/kiribathgoda.jpg" alt=""></span>
						<h4>Base Hospital - Kiribathgoda</h4>
					</div>
				</a>
				<a href="single-hospital-profile.html" class="hospital">
					<div class="hospital-inner-alignment">
						<span class="hospital-logo"><img src="assets/images/hospitals/jpura.jpg" alt=""></span>
						<h4>Sri Jayawardenepura General Hospital</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->
