<body style="background-image: url('assets/images/cover2.jpg'); background-size: 100% 100%;"></body>
<app-nav2></app-nav2>

<div class="card-container" >
  <div class="col-xl-3 col-md-6">
      <a   href="http://localhost:4200/users" (click)="router.navigate(['D:/project/suwasetha.lk/src/app/users']);" class="photo-box small body-card" data-background-image="assets/images/cardio2.png">
          <div class="photo-box-content">
              <h3>Manage Users</h3>
          </div>
      </a>
  </div>

  <div class="col-xl-3 col-md-6">
      <a href="http://localhost:4200/hospitals" (click)="router.navigate(['D:/project/suwasetha.lk/src/app/hospitals']);" class="photo-box small body-card" data-background-image="assets/images/job-category-02.jpg">
          <div class="photo-box-content">
              <h3>Manage Hospitals</h3>
          </div>
      </a>
  </div>
</div>
