<app-nav2></app-nav2>

<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">
				
				<!-- Location -->
				<div class="sidebar-widget">
					<h3>Location</h3>
					<div class="input-with-icon">
						<div id="autocomplete-container">
							<input id="autocomplete-input" type="text" placeholder="Location">
						</div>
						<i class="icon-material-outline-location-on"></i>
					</div>
				</div>

				

				<!-- Speciality -->
				<div class="sidebar-widget">
					<h3>Speciality</h3>
					<div class="keywords-container">
						<div class="keyword-input-container">
							<input type="text" class="keyword-input" placeholder="e.g. ENT"/>
							<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
						</div>
						<div class="keywords-list"><!-- keywords go here --></div>
						<div class="clearfix"></div>
					</div>
				</div>

				<!-- Name -->
				<div class="sidebar-widget">
					<h3>Name</h3>
					<div class="keywords-container">
						<div class="keyword-input-container">
							<input type="text" class="keyword-input" placeholder="e.g. Saman Perera"/>
							<button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
						</div>
						<div class="keywords-list"><!-- keywords go here --></div>
						<div class="clearfix"></div>
					</div>
				</div>

				
				
				
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">

			<h3 class="page-title">Search Results</h3>

			<div class="notify-box margin-top-15">
				

				<div class="sort-by">
					<span>Sort by:</span>
					<select class="selectpicker hide-tick">
						<option>Relevance</option>
						<option>Newest</option>
						<option>Oldest</option>
						<option>Random</option>
					</select>
				</div>
			</div>
			
			<!-- Doctors List Container -->
			<div class="doctors-container doctors-list-layout compact-list margin-top-35">
				
				<!--Doctors -->
				<div class="doctors">

					<!-- Overview -->
					<div class="doctors-overview">
						<div class="doctors-overview-inner">
							
							<!-- Bookmark Icon -->
							<span class="bookmark-icon"></span>
							
							<!-- Avatar -->
							<div class="doctors-avatar">
								<div class="verified-badge"></div>
								<a href="single-doctors-profile.html"><img src="images/user-avatar-big-01.jpg" alt=""></a>
							</div>

							<!-- Name -->
							<div class="doctors-name">
								<h4><a href="#">Tom Smith<img src="images/doctors/d1.jpg" alt="" title="National Hospital Sri Lanka" data-tippy-placement="top"></a></h4>
								<span>MBBS University of Colombo</span>
								<!-- Rating -->
								
							</div>
						</div>
					</div>
					
					<!-- Details -->
					<div class="doctors-details">
						<div class="doctors-details-list">
							<ul>
								<li>Location <strong><i class="icon-material-outline-location-on"></i>National Hospital Sri Lanka</strong></li>
								<li>Speciality <strong>Pediatrician</strong></li>
							</ul>
						</div>
						<a href="single-doctors-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
					</div>
				</div>
				<!-- doctors / End -->

				<!--Doctors -->
				<div class="doctors">

					<!-- Overview -->
					<div class="doctors-overview">
						<div class="doctors-overview-inner">
							
							<!-- Bookmark Icon -->
							<span class="bookmark-icon"></span>
							
							<!-- Avatar -->
							<div class="doctors-avatar">
								<div class="verified-badge"></div>
								<a href="single-doctors-profile.html"><img src="images/user-avatar-big-01.jpg" alt=""></a>
							</div>

							<!-- Name -->
							<div class="doctors-name">
								<h4><a href="#">Tom Smith<img src="images/doctors/d1.jpg" alt="" title="National Hospital Sri Lanka" data-tippy-placement="top"></a></h4>
								<span>MBBS University of Colombo</span>
								<!-- Rating -->
								
							</div>
						</div>
					</div>
					
					<!-- Details -->
					<div class="doctors-details">
						<div class="doctors-details-list">
							<ul>
								<li>Location <strong><i class="icon-material-outline-location-on"></i>National Hospital Sri Lanka</strong></li>
								<li>Speciality <strong>Pediatrician</strong></li>
							</ul>
						</div>
						<a href="single-doctors-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
					</div>
				</div>
				<!-- doctors / End -->

				<!--Doctors -->
				<div class="doctors">

					<!-- Overview -->
					<div class="doctors-overview">
						<div class="doctors-overview-inner">
							
							<!-- Bookmark Icon -->
							<span class="bookmark-icon"></span>
							
							<!-- Avatar -->
							<div class="doctors-avatar">
								<div class="verified-badge"></div>
								<a href="single-doctors-profile.html"><img src="images/user-avatar-big-01.jpg" alt=""></a>
							</div>

							<!-- Name -->
							<div class="doctors-name">
								<h4><a href="#">Tom Smith<img src="images/doctors/d1.jpg" alt="" title="National Hospital Sri Lanka" data-tippy-placement="top"></a></h4>
								<span>MBBS University of Colombo</span>
								<!-- Rating -->
								
							</div>
						</div>
					</div>
					
					<!-- Details -->
					<div class="doctors-details">
						<div class="doctors-details-list">
							<ul>
								<li>Location <strong><i class="icon-material-outline-location-on"></i>National Hospital Sri Lanka</strong></li>
								<li>Speciality <strong>Pediatrician</strong></li>
							</ul>
						</div>
						<a href="single-doctors-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
					</div>
				</div>
				<!-- doctors / End -->

				<!--Doctors -->
				<div class="doctors">

					<!-- Overview -->
					<div class="doctors-overview">
						<div class="doctors-overview-inner">
							
							<!-- Bookmark Icon -->
							<span class="bookmark-icon"></span>
							
							<!-- Avatar -->
							<div class="doctors-avatar">
								<div class="verified-badge"></div>
								<a href="single-doctors-profile.html"><img src="images/user-avatar-big-01.jpg" alt=""></a>
							</div>

							<!-- Name -->
							<div class="doctors-name">
								<h4><a href="#">Tom Smith<img src="images/doctors/d1.jpg" alt="" title="National Hospital Sri Lanka" data-tippy-placement="top"></a></h4>
								<span>MBBS University of Colombo</span>
								<!-- Rating -->
								
							</div>
						</div>
					</div>
					
					<!-- Details -->
					<div class="doctors-details">
						<div class="doctors-details-list">
							<ul>
								<li>Location <strong><i class="icon-material-outline-location-on"></i>National Hospital Sri Lanka</strong></li>
								<li>Speciality <strong>Pediatrician</strong></li>
							</ul>
						</div>
						<a href="single-doctors-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
					</div>
				</div>
				<!-- doctors / End -->

				<!--Doctors -->
				<div class="doctors">

					<!-- Overview -->
					<div class="doctors-overview">
						<div class="doctors-overview-inner">
							
							<!-- Bookmark Icon -->
							<span class="bookmark-icon"></span>
							
							<!-- Avatar -->
							<div class="doctors-avatar">
								<div class="verified-badge"></div>
								<a href="single-doctors-profile.html"><img src="images/user-avatar-big-01.jpg" alt=""></a>
							</div>

							<!-- Name -->
							<div class="doctors-name">
								<h4><a href="#">Tom Smith<img src="images/doctors/d1.jpg" alt="" title="National Hospital Sri Lanka" data-tippy-placement="top"></a></h4>
								<span>MBBS University of Colombo</span>
								<!-- Rating -->
								
							</div>
						</div>
					</div>
					
					<!-- Details -->
					<div class="doctors-details">
						<div class="doctors-details-list">
							<ul>
								<li>Location <strong><i class="icon-material-outline-location-on"></i>National Hospital Sri Lanka</strong></li>
								<li>Speciality <strong>Pediatrician</strong></li>
							</ul>
						</div>
						<a href="single-doctors-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
					</div>
				</div>
				<!-- doctors / End -->
	
			</div>
			<!-- Doctors Container / End -->


			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-40 margin-bottom-60">
						<nav class="pagination">
							<ul>
								<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
								<li><a href="#" class="ripple-effect">1</a></li>
								<li><a href="#" class="current-page ripple-effect">2</a></li>
								<li><a href="#" class="ripple-effect">3</a></li>
								<li><a href="#" class="ripple-effect">4</a></li>
								<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>
	</div>
</div>

<!-- End of Page Content
================================================== -->